.containerPagination {
  width: 1280px;
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  .pagination {
    user-select: none;
    height: 30px;
    display: flex;
    .prev {
      img {
        transform: rotate(180deg);
      }
    }

    .page {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(57, 57, 57, 1);
      width: 30px;
      height: 30px;
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
    }
    .active {
      background: rgba(241, 121, 0, 1);
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      color: #fff;
      border-radius: 4px;
    }
  }
  @media (max-width: 1280px) {
    justify-content: center;
    margin-top: 0;
  }

  @media (max-width: 768px) {
  }
}
