.artwork {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  img {
    width: 50%;
    height: auto;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    padding: 0 5%;
    h2 {
      color: rgba(57, 57, 57, 1);
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 32px;
    }
    h4 {
      color: rgba(224, 164, 73, 1);
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 16px;
    }
    h5 {
      color: rgba(57, 57, 57, 1);
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
    h6 {
      color: rgba(224, 164, 73, 1);
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      margin-top: 16px;
    }
    span {
      color: rgba(57, 57, 57, 1);
    }
    .on_loan_display {
      color: rgba(57, 57, 57, 1);
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }
  @media (max-width: 1280px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    img {
      width: 100%;
      height: auto;
    }
    .text {
      padding: 0;
      h2 {
        font-size: 24px;
        margin: 0;
      }
      h4 {
        font-size: 16px;
        margin: 0;
      }
      h5 {
        font-size: 14px;
        margin: 0;
      }
      h6 {
        font-size: 14px;

      }
    }
  }

  @media (max-width: 768px) {
    .text {
      padding: 0;
      h2 {
        font-size: 16px;
        margin: 0;
      }
      h4 {
        font-size: 14px;
        margin: 0;
      }
      h5 {
        font-size: 12px;
        margin: 0;
      }
      h6 {
        font-size: 12px;

      }
      .on_loan_display {
        font-size: 12px;
      }
    }
  }
}
