.sorting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  span {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(57, 57, 57, 1);
  }
  select {
    background: transparent;
    outline: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(57, 57, 57, 1);
    padding: 5px;
    margin-left: 5px;
  }
  @media (max-width: 1280px) {
    justify-content: center;
  }
}
