.containerSmallCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 колонки по умолчанию
  gap: 16px;

  .card {
    max-width: 416px;
    max-height: 130px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .backgroundImage {
      width: 80px;
      height: 80px;
    }

    .info {
      align-items: center;
      width: calc(100% - 96px); // Учитывая отступы
    }
  }

  // Для экранов шириной до 1024px (планшеты)
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); // 2 колонки
    gap: 12px;

    .card {
      max-width: 350px;
      .backgroundImage {
        width: 80px;
        height: 80px;
      }
    }
  }

  // Для экранов шириной до 768px (смартфоны в горизонтальной ориентации)
  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    .card {
      //max-width: 100%; // Занимает всю ширину
      flex-direction: column; // Расположить элементы вертикально
      align-items: flex-start;
      max-height: 170px;
      padding: 0;


      .backgroundImage {
        width: 60px;
        height: 60px;
      }

      .info {
        width: 100%; // Занимает всю ширину
        margin-top: 8px; // Отступ между изображением и информацией
        h5 {
          margin: 0;
        }
      }
    }
  }
}
